* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
/*-----------------Estilos base----------------------*/
img {
    display: block;
    width: 100%;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    width: 100%;
    margin: auto;
   
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.column{
    width: 100%;
}
/*-----------------Estilos header----------------------*/

.main-header{
    width: 100%;
}
.logo{
    font-size: 1.8em;
    color: rgb(65,113,156);
    padding: 10px;
}
.main-header__contactInfo__phone{
    background: rgb(65,113,156);
    color: white;
    margin: 0 auto;
    padding: 10px;
    
}
.main-header__contactInfo__address{
    background: rgb(65,113,156);
    color: white;
    margin: 0 auto;
    padding: 10px;
    
}
.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}

/*-----------------Estilos del menu----------------------*/

.main-nav{
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
.icon-menu{
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;    
}
.social-icon{
    display: flex;
    justify-content: space-between;
}
.social-icon [class*="icon-"]{
    color: black;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon__link{
    text-decoration: none;
}
.menu{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.6);
    padding:0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
    
}
.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;   
}
.menu__link:hover{
    background: rgb(65,113,156);
}
.menu__link--select{
    background: rgb(65,113,156); 
}
.mostrar{
    height: 240px;
}
/*-----------------Estilos del banner----------------------*/

.banner{
    margin-top: -60px;
    position: relative;
}
.banner:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    top: 0;
}
.banner__img{
    width: 100%;
    height: 500%;
    object-fit: cover;
}
.banner__content{
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}

/*-----------------Estilos principales----------------------*/

h3{
    background: rgb(65,113,156);
    margin:auto;
    padding: 10px;
    color:#ffffff;
    text-align: center;
    font-size: 1.5em;
}
input{
    display: block;
    margin: 10px 30px;
    height: 30px;
    color: #666;
    width: 200px;
    text-align: center;
    margin-top: 10px;
}

.contenidos{
    padding: 20px;
    background:rgba(0,0,0,.6);
    border: solid 1px silver;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    color:#fff;
}
label{
    font-size: 20px;
    float: left;
    margin-bottom: 10px;
}
button {
    padding: 8px;
    width: 100px;
    text-align: center;
    margin: auto;
    margin-left: 80px;
    margin-top: 10px;
}

.mostrarResultado{
    background: rgba(0,0,0,.6);
    padding: 35px;   
    width: 300px;
    margin: auto;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seleccionM {
    width: 100px;
    text-align: center;
    color: black;
    margin-left: 50px;  
    margin-bottom: 10px;
}


/*-----------------Estilos footer----------------------*/

.main-footer{
    background: rgb(64,64,64);
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}
.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.main-footer [class*="icon-"]{
    color: white;
    text-decoration: none;
}
.main-footer [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}

/*-----------------Estilos responsive----------------------*/

@media screen and (min-width : 520px){
   
    .logo{
        color: white;
    }
    .main-header__contactInfo{
        text-align: right;
    }
    .main-header__contactInfo__phone{
        background: none;
    }
    .main-header__contactInfo__address{
        background: none;
    }
    .main-nav{
        background: rgba(0,0,0,.2)
    }
     .banner{
        margin-top: -180px;
        z-index: -1000;
    }
    .banner__content{
        font-size: 2em;
    }
    .main{
        padding-bottom: 20px;
    }
    .main-footer .container--flex{
        align-items:flex-start;
    }
    
    .column--50{
        width: 49%;
    }
    .column--33{
        width: 32%
    }
}

@media screen and (min-width : 750px){
    .main__title{
        font-size: 2.2em;
    }
    .main__about__description{
        margin-top: 30px;
    }
    .main__about__description .column--50:nth-child(2){
        font-size: 1em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt{
        line-height: 30px;
    }
    .column__title{
        font-size: 2em;
    }
    .group__title{
        font-size: 2.2em;
    }
    .banner{
        margin-top: -190px;
        margin-bottom: -30px
    }
    .logo{
        margin-top: 20px;
    }
}

@media screen and (min-width : 1024px){
   
    .container{
        width: 1000px;
    }
    .logo{
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone,
    .main-header__contactInfo__address{
        padding-right: 0;
        font-size: 1.15em;
    }
    .main-nav{
        padding: 0;
    }
    .banner__content{
        font-size: 2.5em;
    }
    .icon-menu{
        display: none;
    }
    .menu{
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }
    .menu__link{
        padding: 20px;
    }
    .group--color .container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .main__title{
        font-size: 2.3em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt{
        line-height: 40px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px
    }
    .column__title{
        font-size: 2em;
    }
    .main-footer{
        padding-top: 30px;
        padding-bottom: 00px;
    }
    
}